# fill in with table of content later (5)

# introduction 

## Data source (3)

The 'Diamonds' dataset was used in a study conducted by Shivam Agrawal and sourced from Kaggle 2022. It analyzes almost 54,000 diamonds by their cut, colour, clarity, price and other attributes.

## Dataset details (5)

This dataset involves various details about diamonds to help with data analysis and visualization based on their attributes. These attributes include carat, cut, color, clarity, depth, table, price, length, width and depth. These attributes make it sufficient enough to predict the price of diamonds through predictive modelling.

The dataset is made up of 53940 observartions (rows) and 10 variables (columns).
Here are 10 randomly generated observations from the Diamonds dataset.

In [2]:
import pandas as pd

df = pd.read_csv('diamonds.csv')

df.sample(10)

       carat        cut color clarity  depth  table     x     y     z  price
14007   1.14    Premium     H     VS2   61.3   59.0  6.76  6.72  4.13   5700
39814   0.40      Ideal     G    VVS1   61.8   56.0  4.72  4.75  2.92   1097
18101   1.21    Premium     G     VS2   62.2   58.0  6.78  6.88  4.25   7320
27850   0.34      Ideal     H    VVS2   60.9   55.0  4.52  4.54  2.75    652
4171    0.92    Premium     G     SI2   62.4   57.0  6.22  6.18  3.87   3555
39797   0.50      Ideal     F     SI2   62.0   58.0  5.08  5.11  3.16   1095
17357   1.24    Premium     D     SI2   61.4   59.0  6.91  6.87  4.23   6965
7181    0.90  Very Good     H    VVS2   62.9   58.0  6.10  6.15  3.85   4186
43730   0.51  Very Good     G     VS2   62.9   58.0  5.06  5.11  3.20   1438
20192   1.51  Very Good     I     SI1   62.7   61.0  7.27  7.33  4.58   8637

## Dataset variables (18) 

explain variables in dataset (in table format with four columns: name of variable, data type, units, brief description) (lavinia is doing it)

| Name | Datatype | Units | Description | 
| :-- | :-- | :-- | :-- |
| Index counter | Discrete Numeric | NA | Index of each diamond |
| Carat | Continuous Numeric | Carats | Carat weight of diamond (1 carat = 0.20g) |
| Cut | Ordinal Categorical | NA | Quality of cut; Increasing order: Fair, Good, Very Good,Premium, Ideal |
| Color | Ordinal Categorical | NA | Colour grade of diamond; (best)D, E, F, G, H, I, J(worst) |
| Clarity | Ordinal Categorical | NA | How obvious inclusions(small imperfections) are within the diamonds. List from best to worst: <br> <b>IF:</b> flawless <br><b>VVS1 or VVS2:</b> Very Very Slightly Included <br> <b>VS1 or VS2:</b> Very Slightly Included <br> <b>S1 or S2</b>: Slightly Included <br> <b>nI1 or I2</b>:Included|
| Table | Continuous Numeric | Percentage | width of the diamond's table(facet seen when diamond is viwed face up) relative to it's widest point |
| price | Continuous Numeric | US dollars | cost of the diamond |
| x | Continuous Numeric | Millimeter | length of the diamond |
| y | Continuous Numeric | Millimeter | width of the diamond |
| y | Continuous Numeric | Millimeter | depth of the diamond |
| Depth | Continuous Numeric | percentage | Depth percentage measured from the cutlet(flat face at the bottom of the gemstone) to the table, divided by its girdle(line that separates the crown from the pavilion of the edge of a diamond) diameter |

## Target variables (2)

The aim of this report is to investigate how a range of different variable can impact the price/value of a diamond. Therefore, the Target feature for this project will be price of diamonds in US dollars.

# Goals and objectives (7)

Throughout history, people have been drawn to exquisite, unique items. Diamonds are still regarded as the pinnacle of luxury in jewelery since they have been prized as jewels from ancient times and are admired for their brilliance. Diamonds are treasured for much more than just their alluring beauty, though. They have different qualities that allow people to use it for many different purposes such as a cutting tool, and other tasks requiring durability. This makes diamonds valued beyond all other stones due to their distinctive physical characteristics and are the most popular gemstone in the world.

Because of these different aspects that we discussed, a predictive model for diamonds' prices would have many practical use and applications in the real world. For example, it could help buyers determine if the price of a singular diamond is reasonable. Potential sellers of jewelry could also use this model to predict an estimate of the price of their diamond.

There are 2 main objectives in this project. The first one is to predict the price of diamonds based on a number of different features, and which features appear to be the greatest indicators or predictors of the diamonds' prices. In addition to that, after some data preprocessing and preparation, which is the focus of this Phase 1 report, the second goal is to undertake some exploratory data analysis using basic descriptive statistics and data visualisation plots to obtain some insight into the patterns and correlations existent in the data.

At this stage, our presumption is that our dataset's rows are not associated. That is, we are assuming that the price of a certain diamond doesn't affect the price of another in this dataset. By making this assumption, we are able to utilize traditional predictive models such as multiple linear regression.
(https://www.miningforschools.co.za/lets-explore/diamond/uses-of-diamonds)

# Data cleaning and processing (15)

deal with missing values, outliers, incorrect values, id-like columns, data aggregation

### Missing values

In [5]:
#check for missing values here

### Incorrect values

In [ ]:
#check for incorrect values

### ID-like columns

In [ ]:
#make id column into index for this table

### aggregation

In [6]:
#encoding cut
cut = {'Fair': 0, 'Good': 1, 'Very Good': 2, 'Premium': 3, 'Ideal': 4}
df['cut'].replace(cut, inplace=True)
df.head()

   carat  cut color clarity  depth  table     x     y     z  price
0   0.23    4     E     SI2   61.5   55.0  3.95  3.98  2.43    326
1   0.21    3     E     SI1   59.8   61.0  3.89  3.84  2.31    326
2   0.23    1     E     VS1   56.9   65.0  4.05  4.07  2.31    327
3   0.29    3     I     VS2   62.4   58.0  4.20  4.23  2.63    334
4   0.31    1     J     SI2   63.3   58.0  4.34  4.35  2.75    335

In [7]:
#encoding color
color = {'D': 6, 'E': 5, 'F': 4, 'G': 3, 'H': 2, 'I': 1, 'J': 0}
df['color'].replace(color, inplace=True)
df.head()

   carat  cut  color clarity  depth  table     x     y     z  price
0   0.23    4      5     SI2   61.5   55.0  3.95  3.98  2.43    326
1   0.21    3      5     SI1   59.8   61.0  3.89  3.84  2.31    326
2   0.23    1      5     VS1   56.9   65.0  4.05  4.07  2.31    327
3   0.29    3      1     VS2   62.4   58.0  4.20  4.23  2.63    334
4   0.31    1      0     SI2   63.3   58.0  4.34  4.35  2.75    335

In [10]:
#encoding clarity
clarity = {'I2': 0, 'I1': 1, 'SI2': 2, 'SI1': 3, 'VS2': 4, 'VS1': 5, 'VVS2': 6, 'VVS1': 7, 'IF': 8}
df['clarity'].replace(clarity, inplace=True)
df.head()

   carat  cut  color  clarity  depth  table     x     y     z  price
0   0.23    4      5        2   61.5   55.0  3.95  3.98  2.43    326
1   0.21    3      5        3   59.8   61.0  3.89  3.84  2.31    326
2   0.23    1      5        5   56.9   65.0  4.05  4.07  2.31    327
3   0.29    3      1        4   62.4   58.0  4.20  4.23  2.63    334
4   0.31    1      0        2   63.3   58.0  4.34  4.35  2.75    335

# Data Exploration and Visualisation(15)

two people need to do 3 graphs, 3 people need to do 4 graphs 
this needs to be a mix of scatter, bar, box, count,

### Univariable Visualisation

In [ ]:
#add min of 6 graphs

### Two Variable Visualisation

In [ ]:
#add min of 6 graphs

### Three Variable Visualisation

In [ ]:
#add min of 6 graphs

# Literature review (optional)

Minimum 10 journal articles and 4 conference papers

# Summary and conclusion

add the summary here

# References

add references here